@font-face {
	font-family: FuturaPTBold;/* Гарнитура шрифта */
	src: url(../fonts/FuturaPT-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FuturaPTBook; /* Гарнитура шрифта */
	src: url(../fonts/FuturaPT-Book.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FuturaPTDemi; /* Гарнитура шрифта */
	src: url(../fonts/FuturaPT-Demi.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FuturaPTExtraBold; /* Гарнитура шрифта */
	src: url(../fonts/FuturaPT-ExtraBold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: FuturaPTHeavy; /* Гарнитура шрифта */
	src: url(../fonts/FuturaPT-Heavy.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FuturaPTLight; /* Гарнитура шрифта */
	src: url(../fonts/FuturaPT-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: FuturaPTMedium; /* Гарнитура шрифта */
	src: url(../fonts/FuturaPT-Medium.ttf); /* Путь к файлу со шрифтом */
}


*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 18px;
	min-width: 320px;
	position: relative;
	color: #000;
	line-height: 1.6;
	font-family: FuturaPTLight;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
b { color: #000; font-family: FuturaPTDemi; }
header {
	background: #F6F6F6;
	padding: 40px 0;
	cursor: #202020;
}

ul.menu_right li:hover {
	padding: 10px 10px 2px 10px;
	border-bottom: 3px solid #ae002a;
	transition: 0.5s;
}

#hour,#min,#sec,#day,#hour12,#min12,#sec12,#day12, #hour123,#min123,#sec123,#day123 {
	float:left;
	padding:5px;
	width:33px;
	height:55px;
	position:relative;
	display:block;
}
.form_txt .timers #clock {
	padding: 0px 20px 0px 70px;
}
.timers p {
	margin:0px;
	padding:0px;
	width:auto;
	height:55px;
	float:left;
	color:#333;
	font-family: FuturaPTBold;
	font-size:20px;
	font-weight:bold;
	position:absolute;
}



#sec1,#min1,#hour1,#day1,#sec11,#min11,#hour11,#day11,#sec113,#min113,#hour113,#day113 {
	margin-left:15px;
}
#timer_wrap {
	-moz-border-radius:10px;
	height:65px;
	width:auto;
	padding:15px 0px;
}		
#clock {
	-moz-border-radius:10px;
	height:65px;
	width:auto;
	padding:0px 20px 0px 0px;
	position:absolute;
}
#razd {
	float:left;
	color:#333;
	font-weight:bold;
	font-size:18px;
	font-family: FuturaPTBold;
	margin:6px 3px 0px 3px;
}
#stop {
	color:white;
	font-size:2em;
	margin:15px 10px 10px 25px;
	position:absolute;
}









h2 {font-family: FuturaPTBold; color: #202020;}
h1 { 
	font-size: 38px;
	line-height: 131.19%;
	color: #202020;
	text-align: center;
	font-family: FuturaPTBold;	
}
.form_txt h2 {
	margin-top: -23px;
}
section.sec_forms h1 {
	font-size: 32px;
}
.video_txt h1 {
	font-size: 36px;
}
section {
	background: #f6f6f6;
	padding: 30px 0;
}
section.sec_2 {
	background: #f6f6f6;
	padding: 30px 0;
	text-align: center;
}
section.slider_1, section.slider_2 {
	background: #FFD9D6;
	padding: 40px 0;
}
span.redspan {
	color: #AE002A;
}
.header_h1 h1 {text-align: left;}
h1 span, .collme span {
	font-family: FuturaPTBold;
	color: #000;
}
ul.menu_right li {
	display: inline-block;
	padding: 10px;
	color: #000;
}
ul.menu_right {
	padding-left: 0;
}
.logo img {
	display: block;
	width: 80%;
	margin: 0 auto;
}
button.bttNonbg {
	margin: 13px 0;
	float: right;
	color: #AE002A;
	font-weight: 900;
	cursor: pointer;
	background: none;
	font-family: FuturaPTBold;
	padding: 11px 65px;
	border: 2px solid #AE002A;
}
button.bttNonbgWrith {
	margin: 13px 0;
	color: #AE002A;
	font-family: FuturaPTBold;
	font-weight: 900;
	cursor: pointer;
	background: #fff;
	padding: 11px 65px;
	border: none;
}
.collme {
	padding: 10px 0 13px 0;
	float: left;
	text-align: center;
}
.yl_blok img {
	width: 129%;
	margin-left: -56px;
	/* margin-top: -110px; */
}
button.main_menu_btt {display: none;}
button.allbutton {
	width: 260px;
	height: 60px;
	font-weight: 900;
	border: none;
	line-height: 131.19%;
	font-family: FuturaPTBold;
	border-radius: 5px;
	color: #fff;
	background: #AE002A;
	box-shadow: 0px 0px 15px rgba(198, 0, 47, 0.6);
}
button.allbutton:hover{
	background: #d8083a;
	color: #fff;
	font-family: FuturaPTBold;
	transition: 0.9s;
	border: 2px solid #AE002A;
}
.sec_1 .item {
	min-height: 140px;
}
.item {
	margin: 0 auto;
	text-align: center;
}
.sec_1 img, .sec_1 p {
	display: inline-block;
	width: 50px;
	vertical-align: top;
}
.sec_1 p {
	margin-left: 20px;
	font-weight: 200;
	font-size: 18px;
	text-align: left;
	width: 68%;
	margin-top: -6px;
	opacity: .8;
}
.sec_txt p span {
	color: #C6002F;
	font-weight: 900;
}
section.sec_2 h3.h3_sec_2 {
	font-family: FuturaPTBold;
	color: #000;		
}
section.video_sho {
	background: #FFD9D6;
	padding: 60px 0;
	color: #000;
}
section.video_sho .video_txt h1 {
	text-align: left;
	margin-top: 0;
}
section.video_sho img {
	width: 100%;
}
.form_txt {
	text-align: center;
	background: #FFD9D6;
	padding: 30px 30px 45px 30px;
	font-size: 20px;
}
h1.h1_fomr, .items_sec5 h1 { text-align: left; }
.item_s4 { text-align: center; }
.items_sec5 h1 span {
	color: #C6002F;
	font-family: FuturaPTBold;
	font-weight: bold;
	font-size: 49px;
}
.product{
	width: 100%;
	padding: 40px 0;
	text-align: center;
	background: #fff;
	transition: 0.9s;
	border-radius: 5px;
}
.product:hover {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);

}
section.sec_forms form {
	border: 1px solid #202020;
	padding: 30px 70px;
	width: 100%;
}
section.sec_forms form input {
	width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
	text-align: center;
	background: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #6F6F6F;
}


section.sec_forms form p {
	text-align: center;
	font-family: FuturaPTBold;
	color: #000;
	margin: 5px 0;
}
section.footer_top {
	background: #E9E9E9;
	text-align: center;
}
.txtscirpt {
	display: block;
}
footer {
	background: #f6f6f6;
	padding: 0px 0 40px 0;
}
footer img.logoimgfoot {
	width: 61%;
	display: block;
	margin: 0 auto;
}
section.sec_forms form button {
	margin-top: 20px;
}
/* Сладер стилі */
.item_blok img {
	width: 13% !important;
	float: left;
	padding: 15px;
}
.item_blok p {
	padding: 19px 10px;
}

.owl-dots {
	display: none;
}
section.slider_1 .slider_items {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}
section.slider_2 .bg_bloes {
	background: #FA809D;
	color: #fff;
}
section.slider_2 .bgwiter {
	background: #fff;
	text-align: left;
	padding: 20px 0;
}
section.slider_2 .item h2 { color: #fff; }
section.slider_2 .item img.slideiimg { width: 60%; display: block; margin: 0 auto; }
section.slider_2 button.owl-prev, section.slider_2 button.owl-next {
	position: relative;
	top: 0;
}
button.owl-prev {
	width: 56px;
	height: 56px;
	position: absolute;
	left: -36px;
	top: 130px;
	display: block;
	transition: 0.5s;
	background-image: url(../img/play.png) !important;
}
button.owl-prev:hover {
	background: none !important;
	background-image: url(../img/playHover.png) !important;
}
button.owl-next {
	width: 56px;
	height: 56px;
	position: absolute;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	right: -36px;
	top: 130px;
	display: block;
	transition: 0.5s;
	background-image: url(../img/play.png) !important;
}
button.owl-next:hover {
	background: none !important;
	background-image: url(../img/playHover.png) !important;
}
.video_sho iframe {
	width: 100%;
	border: 6px solid #fff;
}
ul.contacts-f {
	padding-left: 0;
	text-align: center;
}
footer ul li {
	list-style: none;
	/* text-align: center; */
	display: inline-flex;
	padding: 0 0 5px 0;
}

ul.contacts-f img {
	width: 100%;
	display: inline-block;
}


/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	button.bttNonbg {
		padding: 11px 18px;
	}
	ul.menu_right li {
		display: inline-block;
		padding: 10px 2px;
		color: #000;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.item_blok img {
		width: 23% !important;
		float: left;
		padding: 15px;
	}
	.main_menu_btt {
		top: -10px;
		display: block !important;
		background: none;
		border: navajowhite;
		font-size: 34px;
		position: absolute;
		right: 20px;
		z-index: 20;
	}
	ul.menu_right li {
		display: block;
	}

	ul.menu_right {
		display: none;
	}

	.yl_blok img {
		width: 60%;
		margin-left: 8px;
		display: block;
		margin-top: 0px;
		margin: 0 auto;
	}
	.logo img {
		width: 23%;
		float: left;
	}
	ul.menu_right {
		padding-left: 0;
		text-align: center;
		position: absolute;
		width: 90%;
		background: #fff;
		z-index: 20;
		border: 1px solid #ae002a;
	}
	ul.menu_right li {
		border-bottom: 3spx solid #bb2d4f91;
	}
	.header_h1, .header_h1 h1 {
		text-align: center;
	}
	button.allbutton {
		margin: 0 auto;
		display: block;
	}
	footer img {
		width: 20%;
	}
	.video_txt, section.video_sho .video_txt h1, .item_sec3, .items_sec5, .items_sec5 h1 {
		text-align: center;
	}
	footer, h1.h1_fomr {
		text-align: center;
	}
	.collme {
		display: none;
	}
	button.bttNonbg {
		display: block;
		margin: 40px auto;
		text-align: center;
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	button.owl-next {
		right: -9px;
	}
	button.owl-prev {
		left: -9px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	button.owl-next {
		right: -9px;
	}
	button.owl-prev {
		left: -9px;
	}
	.timers p, #razd {
		font-size:16px;
	}
	section.sec_forms form button {
		margin-top: 20px;
		width: 100%;
	}
	section.sec_forms form {
		padding: 30px 24px;
	}
	h1 {
		font-size: 27px;
	}
	footer .collme {
		float: none;
		margin-top: 5px;
	}
	.timers #clock {
		padding-left: 10px;
	}
	.form_txt .timers #clock {
		padding: 0px 20px 0px 0px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}